@media all and (max-width: 1530px){
    .container{
        max-width: 1200px;
    }

    .main__page {
        margin-bottom: 70px;
        height: 860px;
        background: url('../../images/klipartz.png')  right -51px bottom / 506px 597px no-repeat, linear-gradient(32deg, rgba(151,150,240,1) 0%, rgba(251,199,212,1) 100%);;
    }

    [alt='logo']{
        width: 380px;
        height: 40px;
    }

    .header__top form{
        width: 25%;
    }

    .header__top form input {
        height: 40px;
        border: 3px solid #272525;
    }

    .header__top form button {
        width: 40px;
        top: 3px;
        right: 11px;
    }

    .phone {
        font-size: 16px;
        padding: 13px 0;
        width: 15.6%;
    }

    .header_bottom div.container>p {
        font-size: 24px;
        margin-right: 32px;
        white-space: wrap;
        width: 194px;
    }

    .header_bottom nav ul{
        gap: 15px;
    }
}