@media all and (max-width: 768px){
    .container{
        max-width: 480px;
    }
    .header__top {
        padding: 22px 0 24px;
    }

    .main__page{
        margin-bottom: 10px;
        background: url('../../images/klipartz.png') no-repeat right -116px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 392px 412px, cover;
    }

    [alt="logo"] {
        width: 237px;
        height: 28px;
    }

    .loupe{
        margin-left: auto;
        margin-right: 26px;
        width: 26px;
        height: 26px;
    }

    .burger{
        width: 34px;
        height: 34px;
    }

    .phone {display: none;}
}