@media all and (max-width: 1067px){
    .container{
        max-width: 1000px;
    }

    .main__page{
        height: 808px;
        background: url('../../images/klipartz.png') no-repeat right -50px bottom, linear-gradient(32deg, rgba(151,150,240,1) 0%, rgba(251,199,212,1) 100%);;
        background-size: 398px 470px, cover;
        margin-bottom: 40px;
    }

    .header__top{
        padding: 27px 0 38px 0;
    }

    [alt="logo"]{
        width: 293px;
        height: 23px;
    }

    .header__top form input{
        border: 2.41px solid #272525;
        border-radius: 54px;
        padding: 8px 16px;
        font-size: 14px;
    }

    .header__top form button {
        width: 40px;
        top: 1px;
        right: 7px;
    }

    .phone{
        border-radius: 54px;
        padding: 10px 0;
        font-size: 14px;
        width: 19.6%;
        height: 36px;
    }

    .icon_account svg{
        width: 24px;
        height: 24px;
    }

    .language a:first-of-type{
        font-size: 12px;
    }

    .language a:last-of-type{
        font-size: 12px;
    }

    .language p{
        font-size: 12px;
    }

    .header_bottom div.container>p{
        font-size: 24px;
        margin-right: 32px;
        white-space: wrap;
        width: 194px;
    }

    .header_bottom nav ul li{
        height: 100px;
        padding-top: 41px;
        padding: 41px 15px; 
    }
}