@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }
    
    .main__page{
        margin-bottom: 5px;
        position: relative;
        height: 608px;
        background: url('../../images/klipartz.png') no-repeat right -88px bottom, linear-gradient(32deg, rgba(151,150,240,1) 0%, rgba(251,199,212,1) 100%);;
        background-size: 451px 487px,  cover;
    }

    .main__page::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px; /* высота полосы */
        background-color: rgba(255, 255, 255, 0.5); /* полупрозрачный белый фон */
        z-index: 0; /* чтобы полоса была над всем остальным контентом */
    }

    .header__top {
        position: relative;
        z-index: 1;
        padding: 20px 0 22px 0;
    }

    [alt="logo"] {
        width: 293px;
        height: 24px;
    }

    .header__top form, .icon_account svg, .language{
        display: none;
    }

    .loupe, .burger {
        display: block;
    }

    .loupe{
        margin: 0 46px;
    }
    .phone{
        width: 184px;
    }

    .header_bottom{
        display: none;
    }
}