.product_card_item{
    position: relative;
    border-radius: 15px;
    background: #FFFFFF;
    transition: .5s;
}

.product_card_item:hover{
    box-shadow: 0 8px 8px -4px rgba(26, 32, 44, 0.04), 0 16px 22px -8px rgba(82, 73, 131, 0.1);
}

.product_card_item>div:first-of-type{
    position: relative;
    border-radius: 15px;
    height: 387px;
    background: #f1f1f8;
}

.product_info{
    padding: 0 15px 9px 15px;
}

.product_info>p:first-of-type{
    margin-top: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 105%;
    color: #272525;
}

.product_info>p:nth-of-type(2){
    margin: 12px 0 15px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 105%;
    color: #272525;
    width: 224px;
}

.color_product{
    height: 28px;
    display: flex;
    gap: 4.5px;
    margin: 15px 0 44px 0;
}

.price, .total_price{
    font-weight: 600;
    font-size: 24px;
    line-height: 105%;
    color: #c4c4c4;
    transition: .4s;
}

.product_info>svg{
    position: absolute;
    bottom: 23px;
    right: 18px;
}

.product_info>svg path{
    transition: .5s;
}

.product_card_item:hover  .product_info>svg path{fill: #1fab8a;}

.product_card_item:hover .price, .product_card_item:hover .total_price {color: #454747;}

 /* Звездочка на картинке */
.product_card_item>div:first-of-type>a{
    position: absolute;
    right: 15px;
    top: 12px;
}

.product_card_item>div:first-of-type>a>svg path{
    transition: .5s;
}

.product_card_item:hover>div:first-of-type>a>svg path{
    fill: #3c336c;
}

.slaider{
    right: 23px;
    bottom: 13px;
    position: absolute;
    display: flex;
    column-gap: 9px;
    align-items: center;
}

.slaider>p{
    font-weight: 400;
    font-size: 12px;
    line-height: 105%;
    color: #7981ad;
}

.color_product a svg {
    transition: .5s;
}


.color_product a:hover svg circle {
    stroke-width: 2px;
    stroke: #524983;
    border-radius: 100%;
}





@media all and (max-width: 1530px){
    .container{
        max-width: 1200px;
    }

    .product_card>div.product_card_item:last-of-type, .product_card>div.product_card_item:nth-of-type(7){
        display: none;
    }

    .product_card_item>div:first-of-type {
        height: 310px;
    }

    .product_info>p:first-of-type {
        margin-top: 12px;
        font-size: 19px;
    }

    .product_info>p:nth-of-type(2) {
        font-size: 9px;
        margin: 9px 0 12px 0;
    }

    .color_product>a>svg{
        width: 19px;
        height: 19px;
    }

    .color_product{
        margin: 0 0 32px 0;
    }

    .price, .total_price {
        font-size: 19px;
    }

    .product_info>svg {
        width: 44px;
        height: 44px;
    }

    .slaider {
        right: 18px;
        bottom: 10px;
    }
    
    .slaider>a>svg{
        width: 8px;
        height: 16px;
    }

    .slaider>p {
        font-size: 9px;
    }

    .product_card_item>div:first-of-type>a {
        right: 9px;
        top: 12px;
    }

    .product_card_item>div:first-of-type>a>svg{
        width: 25px;
        height: 25px;
    }
}

@media all and (max-width: 1067px){
    .container{
        max-width: 1000px;
    }

    .types_of_products{
       padding-bottom: 42px;
    }
}


@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }

    .product_card_item>div:first-of-type {
        height: 358px;
    }

    .product_info>p:first-of-type {
        margin-top: 12px;
        font-size: 22px;
    }

    .product_info>p:nth-of-type(2) {
        max-width: 207px;
        font-size: 11px;
        margin: 11px 0 13px 0;
    }

    .color_product {
        margin-bottom: 40px;
    }

    .color_product>a>svg {
        width: 22px;
        height: 22px;
    }

    .price, .total_price {
        font-size: 22px;
    }

    .product_info>svg {
        width: 51px;
        height: 51px;
    }

    .product_info>svg {
        position: absolute;
        bottom: 12px;
        right: 17px;
    }

    .product_card_item>div:first-of-type>a>svg {
        width: 28px;
        height: 28px;
    }
}

@media all and (max-width: 768px){
    .container{
        max-width: 480px;
    }

    .product_card>div.product_card_item:nth-of-type(5), .product_card>div.product_card_item:nth-of-type(6){
        display: none;
    }

    .product_card_item>div:first-of-type {
        height: 215px;
    }

    .product_info>p:first-of-type {
        margin-top: 11px;
        font-size: 15px;
    }

    .product_info {
        padding: 0 10px 9px 10px;
    }

    .product_info>p:nth-of-type(2) {
        max-width: 178px;
        font-size: 9px;
        margin: 7px 0 8px 0;
    }

    .color_product .color-link svg {
        width: 20px;
        height: 20px;
        transition: stroke 0.3s ease;
    }

    .color_product {
        margin-bottom: 20px;
    }

    .price, .total_price {
        font-size: 18px;
    }

    .product_info>svg {
        position: absolute;
        bottom: 10px;
        right: 8px;
    }

    .product_info>svg {
        width: 41px;
        height: 40px;
    }

    .product_card_item>div:first-of-type>a>svg {
        width: 22px;
        height: 22px;
    }

    .product_card_item>div:first-of-type>a {
        top: 7px;
    }
}

