.show_more{
    background: #FAFAFA;
    padding-bottom: 100px;
}

.show_more div.container>div:first-of-type{
    float: left;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.show_more div.container>div:first-of-type>p{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #272525;
}

.show_more div.container>div:last-of-type{
    display: flex;
    align-items: center;
    column-gap: 40px;
    float: right;
}

.show_more div.container>div:last-of-type ul{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.show_more div.container>div:last-of-type ul>li{
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #7981ad;
}

.show_more div.container > div:last-of-type ul > li a{
    width: 47px;
    height: 47px;
}

.show_more div.container > div:last-of-type ul > li a:hover {
    line-height: 40px;
    background-color: #7981ad;
    color: white;
    border-radius: 50%;
    padding: 10px 17px;
    transition: all 0.3s ease-in-out;
}

@media all and (max-width: 1530px){
    .show_more {
        padding-bottom: 80px;
    }
}

@media all and (max-width: 1067px){
    .show_more {
        padding-bottom: 86px;
    }
}

@media all and (max-width: 768px){
    .show_more {
        padding-bottom: 80px;
    }

    .show_more div.container>div:first-of-type {
        justify-content: center;
        float: none;
    }
    .show_more div.container>div:first-of-type>p {
        font-weight: 500;
    }
    
    .show_more div.container>div:last-of-type {
        justify-content: center;
        margin-top: 27px;
        float: none;
    }
}