.main__page{
    margin-bottom: 41px;
    height: 860px;
    background: url('../../images/ready_box.png') no-repeat right -34px bottom -95px, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
    background-size: 980px 706px, cover;
}

.main__info div.container>p:first-of-type{
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.main__info div.container>p:first-of-type>a:first-of-type{
    color: #7981ad;;
}

.main__info div.container>p:first-of-type>a:nth-of-type(2){
    color: #3c336c;;
}

.main__info div.container>p:nth-of-type(2){
    max-width: 747px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    color: #272525;
}

.main__info div.container>p:nth-of-type(3), .main__info div.container>p:nth-of-type(4){
    margin-top: 20px;
    max-width: 620px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #454747;
}

.main__info div.container>p:nth-of-type(4){
    margin-top: 0;
}

.main__info div.container div button{
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    padding: 18px 39px 20px 30px;
    border-radius: 60px;
    width: 283px;
    height: 60px;
    cursor: pointer;
    background: #3c336c;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.main__info div.container div button:hover{
    color: #fff;
    background: #2b254f;
}

.main__info div.container>div{
    display: flex;
    max-width: 497px;
    align-items: center;
    margin-top: 60px;
    column-gap: 45px;
}
.main__info div.container>div p{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3c336c;
}

/* Блок Готовые наборы */
.ready_sets div.container>p{
    font-weight: 700;
    font-size: 48px;
    color: #272525;
}

.product_card{
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.8%;
    margin-bottom: 33px;
}

.product_card_item:first-of-type>div:first-of-type{
    background: url('../../images/p_1.jpg') no-repeat center center;
    background-size: cover;
}

.product_card_item:nth-of-type(2)>div:first-of-type{
    background: url('../../images/p_2.jpg') no-repeat center center;
    background-size: cover;
}

.product_card_item:nth-of-type(3)>div:first-of-type{
    background: url('../../images/p_3.jpg') no-repeat center center;
    background-size: cover;
}

.product_card_item:nth-of-type(4)>div:first-of-type{
    background: url('../../images/p_4.jpg') no-repeat center center;
    background-size: cover;
} 

.product_card>div.product_card_item:last-of-type{
    display: block;
}

.creative{
    padding-top: 77px;
    margin-bottom: 137px;
    height: 672px;
    background: url('../../images/bg_creative.svg') no-repeat center center;
    background-size: cover;
}

.creative div.container>div.creative_box{
    position: relative;
    overflow: hidden;
    padding-top: 77px;
    padding-bottom: 92px;
}

.creative_box>p:first-of-type{
    font-weight: 700;
    font-size: 48px;
    color: #272525;
    margin-bottom: 23px;
}

.creative_box>p:nth-of-type(2){
    max-width: 592px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.07em;
    color: #454747;
    margin-bottom: 36px;
}

.creative_box>div{
    display: flex;
    column-gap: 88px;
}

.creative_box>div>p{
    max-width: 300px;
    font-weight: 600;
    font-size: 24px;
    color: #222227;
}

.put_your_contact>p>span{
    color: #1fab8a;
}

.put_your_contact form{
    display: flex;
    flex-direction: column;
}

.put_your_contact form>input {
    padding-bottom: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid #272525;
    font-weight: 400;
    font-size: 16px;
    color: #454747;
    max-width: 336px;
    margin-bottom: 35px;
}

.put_your_contact form>button {
    border-radius: 60px;
    padding: 16px 0;
    width: 280px;
    height: 60px;
    background: #1fab8a;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    transition: .5s;
}

.put_your_contact form>button:hover{
    background: #288771;
}

[alt="creative"]{
    margin: 0 0 10px 195px;
}

[alt="box"]{
    position: absolute;
    top: 0;
    right: 0;
    width: 692px;
    height: 619px;
}

/* Кнопка для прокрутки вверх */
#arrowTop {
    height: 50px;
    width: 50px;
    background: #1fab8a;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 6px 25px 0 rgba(121, 129, 173, 0.45);
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 50px;
}