@media all and (max-width: 768px){
    .container{
        max-width: 480px;
    }

    .main__page{
        margin-bottom: 41px;
        height: 526px;
        background: url('../../images/box_reverse.png') no-repeat right -31px bottom -95px, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 377px 441px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        margin-top: 35px;
        max-width: 482px;
    }

    .main__info div.container>p:nth-of-type(3) {
        max-width: 256px;
    }

    .main__info div.container>div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 7px;
    }

    .main__info div.container div button {
        width: 210px;
        font-size: 14px;
    }

    .main__info div.container>div p {
        font-size: 14px;
        text-align: center;
        margin-left: 55px;
    }

    .product_card {
        column-gap: 4.8%;
    }

    .ready_sets div.container>p {
        font-size: 28px;
    }

    .product_card {
        margin-top: 25px;
    }

    
    .put_your_contact>p, .put_your_contact form>button, .put_your_contact form>input {
        width: 100%;
        max-width: 480px;
    }

    .put_your_contact {
        flex-direction: column;
        row-gap: 30px;
    }

    .creative div.container>div.creative_box {
        padding-bottom: 27px;
    }

    [alt="creative"] {
        margin-left: 0;
        margin-bottom: 21px;
        width: 280px;
        height: 60px;
    }

    .creative_box>p:first-of-type {
        font-size: 27px;
        margin-bottom: 20px;
    }

    .creative_box>p:nth-of-type(2) {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .creative_box>div>p {
        max-width: 395px;
    }

    .creative_box>div {
        row-gap: 65px;
    }

    [alt="box"] {
        position: relative;
        width: 371px;
        height: 331px;
        right: 0;
        margin-top: 65px;
    }

    footer{
        margin-top: 430px;
    }
}