@media all and (max-width: 474px){
    .container{
        max-width: 320px;
    }

    .main__page{
        margin-bottom: 41px;
        height: 689px;
        background: url('../../images/box_reverse.png') no-repeat right 0px bottom -73px, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 400px 451px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        margin-top: 28px;
        margin-top: 33px;
        text-align: center;
    }

    .main__info div.container>p:nth-of-type(3) {
        margin-top: 14px;
        text-align: center;
        font-size: 15px;
    }

    .main__info div.container>div {
        position: absolute;
        bottom: -54px;
        justify-content: center;
        left: 0;
        right: 0;
        width: 210px;
        /* равномерное распределение отступов */
        margin-left: auto;
        margin-right: auto;
    }

    /* Готовые наборы */
    .ready_sets{
        margin-top: 76px;
    }

    .product_card {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 20px;
    }

    .ready_sets div.container>p {
        text-align: center;
    }

    .product_card_item>div:first-of-type {
        height: 286px;
    }

    .creative div.container>div.creative_box {
        padding: 0 0 47px 0;
    }
    .creative_box>p:first-of-type {
        font-size: 24px;
        text-align: center;
    }

    .creative_box>p:nth-of-type(2) {
        font-size: 15px;
        margin-bottom: 47px;
        text-align: center;
    }

    .creative_box>div>p {
        text-align: center;
        font-size: 20px;
    }

    .creative_box>div {
        row-gap: 40px;
    }

    [alt="box"] {
        width: 371px;
        height: 331px;
        right: 54px;
        margin-top: 43px;
    }
}