footer{
    background: url('../../images/footer.svg') no-repeat center center;
    background-size: cover;
    padding: 114px 0 33px 0;
}

.footer__info{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 280px;
    grid-template-rows: 2fr 1fr;
    column-gap: 9%;
}

.footer__info>div:first-of-type>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #454747;
    margin-top: 15px;
}

.categories{
    grid-row: 1/3;
}

.categories ul{
    gap: 30px;
}

.categories ul>li{
    font-weight: 400;
    font-size: 18px;
    line-height: 289%;
    color: #454747;
}

.categories ul>li:first-child{
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #272525;
}

.info__about__us{
    grid-row: 1/3;
}

.info__about__us ul{
    gap: 30px;
}

.info__about__us ul>li{
    font-weight: 400;
    font-size: 18px;
    line-height: 289%;
    color: #454747;
}

.info__about__us ul>li:first-child{
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #272525;
}

.social__media{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    row-gap: 30px;
    grid-row: 2/3;
}

.social__media>div:first-of-type>a:first-of-type{
    font-weight: 600;
    font-size: 16px;
    color: #272525;
    margin-bottom: 3px;
}

.social__media>div:first-of-type>a:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #272525;
}

.social__media>div:first-of-type{
    display: flex;
    flex-direction: column;
}

.social__media>div:nth-of-type(2){
    align-items: center;
    display: flex;
    gap: 21px
}

.connection{
    display: flex;
    flex-direction: column;
}
.connection p:first-child{
    font-weight: 600;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #272525;
}

.connection p:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 122%;
    color: #8f90a6;
}

.connection form>input{
    width: 100%;
    margin-top: 32px;
    border: 2px solid #272525;
    border-radius: 15px;
    height: 54px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 164%;
    color: #272525;
    padding: 0 15px;
}

footer div.container>div:nth-of-type(2){
    justify-content: center;
    margin-top: 37px;
    display: flex;
}

footer div.container>div:last-of-type>p{
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #9fa3b2;
}

footer div.container>div:last-of-type>p:last-of-type{
    text-decoration: underline;
    margin-left: 5px;
}

