@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }

    [alt='logo_footer'] {
        width: 408px;
        height: 32px;
    }

    footer{
        padding: 59px 0 33px 0;
    }
    
    .footer__info{
        grid-template-columns: 1fr 1fr 250px;
        grid-template-rows: 1fr 2fr;
        row-gap: 30px;
        column-gap: 1%;
    }

    .footer__info>div:first-of-type {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .social__media{
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .categories{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .info__about__us {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .connection{
        grid-row: 2/3;
        grid-column: 3/4;
        flex-direction: column;
        margin-top: 0;
    }

    .connection form>input {
        width: 250px;
    }
}