.main__page{
    margin-bottom: 41px;
    height: 860px;
    background: url('../../images/woman.png') no-repeat right 150px bottom, linear-gradient(32deg, rgba(151,150,240,1) 0%, rgba(251,199,212,1) 100%);;
    background-size: 701px 580px, cover;
}

.main__info div.container>p:nth-of-type(2) {
    max-width: 638px;
}

.main__info div.container>p:nth-of-type(3), .main__info div.container>p:nth-of-type(4) {
    max-width: 620px;
}

.main__info div.container div button {
    width: 280px;
}


@media all and (max-width: 1530px){
    .container{
        max-width: 1200px;
    }
    .main__page{
        background: url('../../images/woman.png') no-repeat right -181px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 640px 526px, cover;
    }
}

@media all and (max-width: 1067px){
    .container{
        max-width: 1000px;
    }

    .main__page{
        height: 817px;
        background: url('../../images/woman.png') no-repeat right -214px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 640px 526px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        max-width: 510px;
    }

    .main__info div.container>p:nth-of-type(3), .main__info div.container>p:nth-of-type(4) {
        font-size: 16px;
        max-width: 510px;
    }

    .main__info div.container div button {
        width: 245px;
        padding-left: 0;
        padding-right: 0;
    }
}




@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }

    .main__page{
        height: 576px;
        background: url('../../images/woman.png') no-repeat right -204px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 576px 456px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        max-width: 357px;
    }
}



@media all and (max-width: 768px){
    .container{
        max-width: 480px;
    }

    .main__page{
        height: 532px;
        background: url('../../images/woman.png') no-repeat right 47px bottom -104px, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 381px 294px, cover;
        margin-bottom: 10px;
    }

    .main__info div.container>p:nth-of-type(2) {
        max-width: 434px;
    }

    .main__info div.container>p:nth-of-type(3) {
        width: 100%;
        max-width: 434px;
    }

    .main__info div.container div button {
        position: relative;
        bottom: -140px;
        width: 210px;
    }

    .main__info div.container>div {
        justify-content: center;
        align-items: center;
    }
}

@media all and (max-width: 474px){
    .container{
        max-width: 320px;
    }

    .main__page{
        height: 689px;
        background: url('../../images/woman.png') no-repeat right 11px bottom 49px, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 309px 262px, cover;
        margin-bottom: 10px;
    }

    .types__of__merch {
        padding-top: 70px;
    }

    .main__info div.container div button {
        display: none;
    }

    .main__info div.container>p:nth-of-type(2) {
        max-width: 280px;
        font-size: 28px;
        text-align: center;
    }

}