@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }
    
    .main__info div.container {
        padding-top: 35px;
    }

    .main__info div.container>p:nth-of-type(2) {
        font-size: 36px;
        margin-bottom: 0;
        width: 434px;
    }

    .main__info div.container>p:nth-of-type(3){
        width: 368px;
    }

    div.container>p:nth-of-type(4) {
        display: none;
    }

    .main__info div.container>div {
        flex-direction: column;
        align-items: flex-start;
    }

    .main__info div.container>div p {
        margin-top: 10px;
        margin-left: 25px;
    }


    .types__of__merch {
        padding-top: 60px;
    }

    .types{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 30px;
    }

    /* .short__info {
        padding-bottom: 50px;
    }

    .short__info div.container>div {
        margin-top: 71px;
    }

    .short__info div.container>div {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        row-gap: 50px;
    }

    .short__info div.container>div>div>p:first-of-type {
        font-size: 28px;
    } */

}