@media all and (max-width: 768px){
    .container{
        max-width: 480px;
    }
    
    .main__info div.container>p:nth-of-type(2) {
        margin-top: 0;
    }

    .main__info div.container>p:nth-of-type(3) {
        width: 256px;
    }

    .main__info div.container div button {
        padding: 0px;
        padding-bottom: 4px;
        height: 51px;
        width: 210px;
        font-size: 13px;
    }

    .main__info div.container>div p {
        font-size: 14px;
        margin-left: 25px;
    }


    .types__of__merch div.container>p:first-of-type {
        font-size: 28px;
    }

    .types__of__merch div.container>p:nth-of-type(2) {
        margin-top: 5px;
        font-size: 16px;
    }

    .types{
        margin-top: 18px;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr;
        row-gap: 33px;
        column-gap: 9px;
    }

    .types>div>div{
        height: 130px;
    }


    /* .short__info div.container>div {
        row-gap: 44px;
        margin-top: 61px;
    } */
}