@media all and (max-width: 1067px){
    .container{
        max-width: 1000px;
    }
    
    .main__info div.container{
        padding-top: 51px;
    }

    .main__info div.container>p:first-of-type{
        display: none;
    }

    .main__info div.container>p:nth-of-type(2){
        margin-top: 0;
        width: 582px;
    }

    .main__info div.container>p:nth-of-type(3), .main__info div.container>p:nth-of-type(4) {
        font-size: 16px;
        width: 543px;
    }

    .main__info div.container>div {
        margin-top: 30px;
        max-width: 470px;
    }







    /* .types__of__merch{
        height: 752px;
    } */
    .types__of__merch {
        padding-top: 36px;
    }
    
    .types{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 14px;
    }

    .types>div:last-of-type, .types>div:nth-of-type(7){
        display: none;
    }




    /* .short__info{
        padding-bottom: 70px;
    }

    .short__info div.container>div {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 11.5%;
    } */


}