@media all and (max-width: 480px){
    .container{
        max-width: 320px;
    }

    .main__page{
        background: url('../../images/fashion_2.png') no-repeat right -98px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 331px 402px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        margin-top: 26px;
        font-size: 24px;
        margin-bottom: 12px;
    }

    .main__info div.container>p:nth-of-type(3) {
        font-size: 14px;
        margin-bottom: 41px;
    }

    .our_adv > div {
        padding-left: 0;
    }

    .most_popular {
        padding: 36px 0 49px 0;
    }

    .liked_products>p:first-of-type {
        margin-bottom: 5px;
        font-size: 24px;
    }

    .liked_products>p:nth-of-type(2) {
        font-size: 15px;
    }

    .mostpop_products {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 210px 144px 140px;
        column-gap: 10px;
        row-gap: 5px;
    }

    .liked_products svg {
        right: 33px;
        top: -1px;
    }

    .show_allproducst_bottom {
        justify-content: center;
    }

    .creative_box {
        padding: 50px 0 93px 0;
    }

    [alt="creative"] {
        margin: 0px 22px 0 61px;
        width: 156px;
        height: 45px;
        margin-bottom: 15px;
    }

    .creative_box>p:first-of-type {
        text-align: center;
        margin-bottom: 30px;
    }

    .creative_box>p:nth-of-type(2) {
        text-align: center;
        margin-bottom: 40px;
    }

    .put_your_contact button:first-of-type, .put_your_contact button:nth-of-type(2)  {
        width: 100%;
        height: 60px;
    }

    [alt="box"] {
        margin-left: 0;
        position: relative;
        width: 372px;
        height: 331px;
        right: 43px;
    }

    /* Блок с другой продукцией */

    .other_products div.container>div {
        padding: 100px 0 40px 0;
    }

    .other_ready_pr>p:first-of-type {
        margin: 24px 0 20px 0;
        font-size: 20px;
        text-align: center;
    }

    .other_ready_pr>p:nth-of-type(2) {
        margin-bottom: 37px;
        font-size: 15px;
        text-align: center;
    }

    [alt="1"], [alt="2"], [alt="3"], [alt="4"] {
        width: 60px;
        height: 47px;
    }

    .slaider_img {
        row-gap: 14px;
    }

    /* С нами сотрудничают */
    .cooperation div.container>p {
        font-size: 24px;
    }

    .slider-container {
        margin-top: 25px;
    }

    .logos-slider {
        gap: 87px;
    }

    #prev, #next {
        top: 56%;
    }
}