@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }

    .main__page{
        margin-bottom: 209px;
        background: url('../../images/fashion.png') no-repeat right -18px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 494px 385px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        font-weight: 900;
        font-size: 36px;
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .main__info div.container>p:nth-of-type(3) {
        font-size: 16px;
        margin-bottom: 20px;
        max-width: 382px;
    }

    .our_adv{
        z-index: -1;
        position: absolute;
        justify-content: center;
        bottom: -160px;
        column-gap: 80px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    [alt="circle"] {
        width: 70px;
        height: 70px;
    }

    [alt="shopper_2"], .main__page div.container>p:nth-of-type(4){
        display: block;
    }

    [alt="shopper_2"]{
        width: 156px;
        transform: scale(-1, 1);
    }

    .main__info div.container>p:nth-of-type(4){
        font-weight: 900;
        font-size: 20px;
        text-transform: uppercase;
        color: #3c336c;
        margin-bottom: 10px;
    }

    .mostpop_products{
        margin-top: 25px;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 140px 112px;
        gap: 8px;
    }

    .mostpop_products>div {
        border-radius: 8px;
    }

    .liked_products>p:first-of-type {
        margin-bottom: 5px;
        font-size: 30px;
    }

    .liked_products>p:nth-of-type(2) {
        font-size: 16px;
    }

    .show_allproducst {
        display: none;
    }

    .liked_products svg {
        width: 20px;
        height: 20px;
        right: 207px;
        top: 3px;
    }

    .creative{
        padding-top: 10px;
    }

    [alt="creative"] {
        margin: 0 0 0 127px;
        width: 162px;
        height: 65px;
    }

    .creative_box {
        padding-bottom: 104px;
    }

    .creative_box>p:first-of-type {
        max-width: 543px;
        font-size: 28px;
        margin-bottom: 22px;
    }

    .creative_box>p:nth-of-type(2) {
        margin-bottom: 26px;
    }

    .put_your_contact {
        column-gap: 20px;
    }

    .put_your_contact button:first-of-type {
        padding: 13px 0;
        width: 229px;
        height: 48px;
    }

    .put_your_contact button:nth-of-type(2) {
        padding: 13px 0;
        width: 229px;
        height: 48px;
    }

    [alt="box"] {
        width: 442px;
        height: 406px;
    }

    /* Блок с другой продукцией */
    .img_circle {
        height: 531px;
    }

    [alt="Ellipse_big"] {
        left: -115px;
    }

    .other_ready_pr>p:first-of-type {
        max-width: 717px;
        font-size: 25px;
    }

    .other_ready_pr>p:nth-of-type(2) {
        max-width: 717px;
        margin-bottom: 45px;
    }

    .slaider_img {
        align-items: stretch;
        row-gap: 25px;
        flex-direction: column;
    }

    .slaider {
        width: 100%;
    }

    .other_ready_pr>div {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .slaider_img div:nth-of-type(1){
        column-gap: 40px;
    }

    [alt="1"], [alt="2"], [alt="3"], [alt="4"] {
        width: 143px;
        height: 115px;
    }

    .slaider_img div:nth-of-type(2){
        align-self: center;
    }

/* Форма для заказа мерча */
    .order_form{
        background: url('../../images/f_rom_bg.svg') no-repeat center center;
        background-size: 243% 789px;
    }

/* С нами сотрудничают */

    .cooperation div.container>p {
    font-size: 40px;
    }

    #prev, #next {
        top: 72%;
    }

    .slider-container {
        margin: 70px 78px 70px 78px;
    } 
}