@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }

    .main__page{
        height: 583px;
        background: url('../../images/people.png') no-repeat right -375px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 784px 477px, cover;
    }

    .main__info div.container>p:first-of-type {
        display: none;
    }

    .main__info div.container>p:nth-of-type(2) {
        max-width: 304px;
        margin-top: 29px;
        font-size: 36px;
    }

    .main__info div.container>p:nth-of-type(3) {
        font-size: 16px;
        max-width: 389px;
    }

    .advantages{
        row-gap: 51px;
    }
    
    .three_info {
        padding: 53px 0 80px 0;
    }

    .advantages>div>p:first-of-type {
        font-size: 28px;
    }

    .advantages>div>p:last-of-type {
        max-width: 710px;
    }

    .pop_questions div.container>div:first-of-type {
        margin-bottom: 28px;
    }

    .pop_questions div.container>div:first-of-type>p {
        font-size: 36px;
        margin-bottom: 23px;
    }

    .material_button>p {
        font-size: 28px;
    }

    .questions>div>div:first-of-type {
        margin: 20px 0 20px 0;
    }

    .conntacts {
        padding: 28px 0 51px 0;
    }

    .cont_social_media>div:first-of-type>p {
        font-size: 36px;
    }

    .cont_social_media>div:first-of-type>img{
        width: 34px;
        height: 34px;
    }

    .cont_social_media>div:first-of-type {
        margin-bottom: 38px;
    }

    .cont_social_media>a:first-of-type {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .cont_social_media>a:nth-of-type(2) {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .conntacts div.container>div {
        row-gap: 91px;
    }

    .contact_us>p {
        font-size: 36px;
    }

    .contact_us {
        row-gap: 30px;
    }
}