@media all and (max-width: 768px){
    .container{
        max-width: 480px;
    }

    .main__page{
        height: 403px;
        background: url('../../images/people.png') no-repeat right 64px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 402px 238px, cover;
    }

    .main__info div.container>p:nth-of-type(2) {
        margin-top: 22px;
        max-width: 283px;
        font-size: 36px;
    }

    .main__info div.container>div {
        display: none;
    }

    .main__info div.container>p:nth-of-type(3) {
        max-width: 397px;
        position: relative;
        bottom: -216px;
        font-size: 14px;
    }

    .three_info {
        padding: 195px 0 70px 0;
    }

    .advantages{
        row-gap: 40px;
    }

    .advantages>div>p:last-of-type {
        max-width: 425px;
    }

    .pop_questions div.container>div:first-of-type {
        margin-bottom: 46px;
    }


    .put_your_contact>p, .put_your_contact form>button, .put_your_contact form>input {
        width: 100%;
        max-width: 480px;
    }

    .conntacts {
        padding: 46px 0 79px 0;
    }
    [alt="i"] {
        display: none;
    }

    .conntacts div.container>div {
        row-gap: 46px;
    }

    .put_your_contact {
        flex-direction: column;
        row-gap: 30px;
    }
}