@media all and (max-width: 1067px){
    .container{
        max-width: 1000px;
    }

    .main__page{
        background: url('../../images/people.png') no-repeat right -484px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 966px 619px, cover;
    }

    .main__info div.container>div {
        flex-direction: column;
        row-gap: 30px;
        column-gap: 30px;
        margin-top: 41px;
    }

    .advantages{
        row-gap: 30px;
    }

    .fresh_breath, .lead_time{
        display: none;
    }

    .advantages>div>p:last-of-type {
        max-width: 905px;
    }

    .production_time, .value, .branding{
        display: block;
    }

    .production_time p span:first-of-type{
        font-weight: 600;
    }

    .production_time p span:last-of-type{
        color: #524983;
    }

    .pop_questions div.container>div:first-of-type {
        margin-bottom: 44px;
        width: 100%;
    }

    .pop_questions div.container>div:first-of-type>p {
        margin-bottom: 40px;
    }

    .questions>div>div:first-of-type {
        margin: 30px 0 15px 0;
    }

    [alt="icon_i"]{
        display: none;
    }

    .conntacts {
        padding: 88px 0 51px 0;
    }

    .conntacts div.container>div {
        flex-direction: column;
        row-gap: 95px;
    }

    [alt="i"]{
        display: block;
        position: absolute;
        width: 361px;
        top: -40px;
        right: 0;
    }
}