@media all and (max-width: 940px){
    .container{
        max-width: 768px;
    }

    .main__page {
        background: url('../../images/klipartz.png') no-repeat right -53px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 473px 536px, cover;
    }

    .product_card {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
        padding-bottom: 30px;
    }

    [alt='clothes'] {
        width: 257px;
        height: 322px;
    }

    .scroll_line, .tracker{
        display: none;
    }

    .hidden{
        display: none;
    }


}