@media all and (max-width: 1067px){
    .container{
        max-width: 1000px;
    }

    .main__page{
        background: url('../../images/klipartz.png') no-repeat right -18px bottom, linear-gradient(32deg, rgba(151, 150, 240, 1) 0%, rgba(251, 199, 212, 1) 100%);
        background-size: 538px 593px, cover;
    }
    
    .main__info div.container>p:first-of-type {
        display: none;
    }

    .main__info div.container>p:nth-of-type(2) {
        max-width: 505px;
        margin-top: 34px;
    }

    .main__info div.container>p:nth-of-type(2) {
        font-size: 36px;
    }

    .main__info div.container>p:nth-of-type(3), .main__info div.container>p:nth-of-type(4) {
        font-size: 16px;
        margin-top: 10px;
        max-width: 369px;
    }

    .product_card {
        padding-bottom: 75px;
    }

}